@media (min-width: 768px) and (max-width: 1159px) {

    .menu {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        background-color: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
        display: none;
    }
    
    .menu.active {
        display: flex;
        transform: translateX(0);
        opacity: 1;
    }
    
    .main__nav{
        flex-direction: unset;
    }
    
    .main__nav__media{
        flex: none;
        height: auto;
        left: 4px;
        position: absolute;
        right: 4px;
        top: 0;
        z-index: 10;
    }

    .nav__text{
        font-size: 12px;
    }

    
    .about_container {
        /* flex: none; */
        flex-direction: column;
        height: min-content;
    }

    .about_us_content {
        flex: none;
        height: 560px;
        width: 100%;
    }

    .about_us_right_main {
        /* flex: none; */
        height: min-content;
        width: 100%;
    }

    .main__block__btn {
      grid-template-columns: repeat(2,minmax(1px,1fr));
    }

    .partners {
        grid-template-columns: repeat(4,minmax(1px,1fr));
    }
  
      .partner0 {
          order: 0;
      }
  
      .partner1 {
          order: 1;
      }
  
      .partner2 {
          order: 2;
      }
  
      .partner3 {
          order: 3;
      }
  
      .partner4 {
          order: 4;
      }
  
      .partner5 {
          order: 5;
      }
  
      .partner6 {
          order: 6;
      }
  
      .partner7 {
          order: 7;
      }
  
      .partner8 {
          order: 8;
          display: flex;
      }
  
      .partner9 {
          order: 9;
      }
  
      .partner10 {
          order: 10;
      }
  
      .partner11 {
          order: 11;
          display: flex;
      }

    .we__text__slogan {
        font-size: 40px;
    }

    .services__frame__text {
        max-width: 400px;
    }

    .services__block__grid {
        grid-template-columns: repeat(2,minmax(1px,1fr));
        width: 100%;
        opacity: 1;
    }

    .services__container__block {
        gap: 64px;
        grid-column: unset;
        justify-content: flex-start;
    }

    .media_service_container {
        align-content: center;
        align-items: center;
        display: flex;
        flex: none;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 4px;
        height: min-content;
        justify-content: flex-start;
        overflow: hidden;
        padding: 0;
        position: relative;
        width: 100%;
    }

    .services__block__text {
        gap: 110px;
    }

    .main__block__about{
        padding: inherit;
    }


    /*CONTACT*/

   
    .block__about{
        place-content: flex-start;
        align-items: flex-start;
        display: flex;
        flex-flow: column;
    }

    .media__block__left{
        align-self: unset;
        height: 880px;
        order: 1;
    }


 
}

@media (max-width: 767px) {

    .menu-toggle {
        display: block;
        font-size: 2.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-dark-blue);
    }

    .main__nav__content{
        display: flex;
    }

    .main__nav{
        flex-direction: unset;
    }

    .logo__content{
        width: 100%;
    }

    .main__section {
        height: 50vh;
        min-height: 920px;
    }

    .main__contact{
        height: 100vh;
    }

    .nav__text{
        font-size: 12px;
    }

    .nav__menu{
        display: none;
    }

   


    .main__content {
        /* flex: none; */
        height: min-content;
        padding: 187px 0 40px;
    }

    .contact__mobile{
        flex-direction: column;
        height: min-content;
        min-height: unset;
    }

    .contact__mobile__us{
        flex: 0 0 auto;
        height: min-content;
        width: 100%;
    }

    .contact__main{
        flex: 0 0 auto;
    }

    .contact__hero{
        flex: 0 0 auto;
        height: min-content;
    }


    .main__none__btn {
        align-content: flex-start;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 16px;
        justify-content: flex-start;
    }

    .block__text__main {
        font-size: 35px;
    }

    .framer__content__text {
        font-size: 56px;
    }

    .main__block__btn {
        display: flex;
    }

    .about_container {
        /* flex: none; */
        flex-direction: column;
        height: min-content;
    }

    .about_us_content {
        flex: none;
        height: 560px;
        width: 100%;
    }

    .about_us_right_main {
        /* flex: none; */
        height: min-content;
        width: 100%;
    }

    .gis {
        grid-column: auto / span 1;
    }

    .partners {
        grid-template-columns: repeat(2,minmax(1px,1fr));
    }

    .partner0 {
        order: 0;
    }

    .partner1 {
        order: 1;
    }

    .partner2 {
        order: 2;
    }

    .partner3 {
        order: 3;
    }

    .partner4 {
        order: 4;
    }

    .partner5 {
        order: 5;
    }

    .partner6 {
        order: 6;
    }

    .partner7 {
        order: 7;
    }

    .partner9 {
        order: 9;
    }

    .partner10 {
        order: 10;
    }

    .section__hightlight {
        flex-direction: column;
        padding: 160px 0 0;
    }

    .hightlight__text__container {
        gap: 64px;
    }

    .begin__text {
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 24px;
        justify-content: flex-start;
    }

    .begin__main__text {
        flex: none;
        max-width: 280px;
        width: 100%;
    }

    .we__text__slogan {
        font-size: 28px;
    }

    .framer-text__168 {
        font-size: 80px;
    }

    .global__container {
        flex: none;
        width: 100%;
        /* padding: 0 4px; */
    }

    .services {
        gap: 64px;
    }

    .services__block__grid {
        grid-template-columns: repeat(1,minmax(1px,1fr));
        width: 100%;
        opacity: 1;
    }

    .services__container__block {
        grid-column: unset;
    }

    .main__container {
        min-height: 100vh;
        width: auto;
    }

    .container__we {
        flex-direction: column;
        padding: 160px 0 0;
    }

    .services__container {
        align-content: flex-start;
        align-items: flex-start;
        display: flex;
        flex: none;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0px;
        height: min-content;
        justify-content: flex-start;
        padding: 0;
        position: relative;
        width: 100%;
    }

    .order__1 {
        order: 0;
    }

    .services__big__text {
        max-width: 410px;
    }

    .services__text__slogan {
        max-width: 420px;
    }

    .main__img {
        object-fit: cover;
    }

    .block__left {
        flex: none;
        height: auto;
        position: relative;
        width: 100%;
    }

    .hightlight__content__grid {
        align-content: flex-start;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 24px;
        justify-content: flex-start;
    }

    .hero__mobile__contact{
        align-content: flex-start;
        align-items: flex-start;
        background-color: var(--color-white-background);
        border-radius: 8px;
        display: flex;
        flex: none;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0px;
        height: min-content;
        justify-content: flex-start;
        overflow: hidden;
        padding: 0;
        position: relative;
        width: 100%;
        will-change: var(--framer-will-change-override, transform);
    }

    .main__block__about{
        padding: 0;
    }

    .partner_container{
        padding: 0;
    }

        /*CONTACT*/

        .main__block__content{
            place-content: flex-start;
            /* align-items: flex-start; */
            display: flex;
            flex-flow: column;
             /* gap: 16px; */
        }

        .block__about{
            place-content: flex-start;
            align-items: flex-start;
            display: flex;
            flex-flow: column;
        }
    
        .media__block__left{
            align-self: unset;
            height: 880px;
            order: 1;
        }

        /*LOGISTIC*/
        .btn__mobile__logistic{
            width: 100%;
        }

        .service__mobile__btn{
            flex-flow: column;
        }

        .services__btn{
            width: 100%;
        }

        .global__mobile{
            padding: 0 4px;
        }

        /*ABOUT*/

        /* .main__block__content{
            place-content: flex-start;
            display: flex;
            flex-flow: column;
        } */
        

}

@media (max-width: 600px) {

    .about_container {
        /* flex: none; */
        flex-direction: column;
        height: min-content;
    }

    .about_us_content {
        flex: none;
        height: 560px;
        width: 100%;
    }

    .about_us_right_main {
        /* flex: none; */
        height: min-content;
        width: 100%;
    }

    .form__email__container {
        place-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 24px;
    }

    .about_us__right{
        width: 100%;
    }

    .main__block__about {
        place-content: flex-start;
        align-items: flex-start;
        display: flex;
        flex-flow: column;
        width: 100%;
    }

    .email__form {
        flex: 0 0 auto;
        width: 100%;
    }

    .tel__form {
        flex: 0 0 auto;
        width: 100%;
    }

    .form__action__subtitle {
        font-size: 28px;
    }

}


@media (max-width: 399px) {

    .logo__img{
        width: 100%;
    }
    .form__email__container {
        place-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 24px;
    }

    .email__form {
        flex: 0 0 auto;
        width: 100%;
    }

    .tel__form {
        flex: 0 0 auto;
        width: 100%;
    }

    .form__action__subtitle {
        font-size: 28px;
    }

    .main__block__about {
        place-content: flex-start;
        align-items: flex-start;
        display: flex;
        flex-flow: column;
        width: 100%;
    }

    .block__text__main {
        font-size: 35px;
    }

    .block__left {
        flex: none;
        height: auto;
        position: relative;
        width: 100%;
    }

    .hightlight__content__grid {
        align-content: flex-start;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 24px;
        justify-content: flex-start;
    }

    .about__section {
        flex-direction: column;
        height: min-content;
        min-height: unset;
    }

    .main__about___us {
        flex: none;
        height: min-content;
        width: 100%;
    }

    .about_container {
        flex: none;
        flex-direction: column;
        height: min-content;
    }

    .about_us_content {
        flex: none;
        height: 560px;
        width: 100%;
    }

    .about_us_right_main {
        flex: none;
        height: min-content;
        width: 100%;
    }

    .about_us_draw_second {
        flex: none;
        height: 360px;
    }


    .block__about {
        align-content: flex-start;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;    
    }

    .media__block__left {
        align-self: unset;
        order: 0;
        align-self: unset;
        height: 560px;
        order: 1;
    }
}