@media (min-width: 768px) and (max-width: 1159px) {

    .main__block__btn {
      grid-template-columns: repeat(2,minmax(1px,1fr));
    }

    .partners {
        grid-template-columns: repeat(4,minmax(1px,1fr));
    }
  
      .partner0 {
          order: 0;
      }
  
      .partner1 {
          order: 1;
      }
  
      .partner2 {
          order: 2;
      }
  
      .partner3 {
          order: 3;
      }
  
      .partner4 {
          order: 4;
      }
  
      .partner5 {
          order: 5;
      }
  
      .partner6 {
          order: 6;
      }
  
      .partner7 {
          order: 7;
      }
  
      .partner8 {
          order: 8;
          display: flex;
      }
  
      .partner9 {
          order: 9;
      }
  
      .partner10 {
          order: 10;
      }
  
      .partner11 {
          order: 11;
          display: flex;
      }

    .we__text__slogan {
        font-size: 40px;
    }

    .services__frame__text {
        max-width: 400px;
    }

    .services__block__grid {
        grid-template-columns: repeat(2,minmax(1px,1fr));
        width: 720px;
    }

    .services__container__block {

    }
}

@media (max-width: 767px) {

    .main__section {
        height: 130vh;
        min-height: 920px;
    }

    .main__content {
        flex: none;
        height: min-content;
        padding: 187px 0 40px;
    }

    .main__none__btn {
        align-content: flex-start;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 16px;
        justify-content: flex-start;
    }

    .block__text__main {
        font-size: 56px;
    }

    .framer__content__text {
        font-size: 56px;
    }

    .main__block__btn {
        display: flex;
    }

    .gis {
        grid-column: auto / span 1;
    }

    .partners {
        grid-template-columns: repeat(2,minmax(1px,1fr));
    }

    .partner0 {
        order: 0;
    }

    .partner1 {
        order: 1;
    }

    .partner2 {
        order: 2;
    }

    .partner3 {
        order: 3;
    }

    .partner4 {
        order: 4;
    }

    .partner5 {
        order: 5;
    }

    .partner6 {
        order: 6;
    }

    .partner7 {
        order: 7;
    }

    .partner9 {
        order: 9;
    }

    .partner10 {
        order: 10;
    }

    .section__hightlight {
        flex-direction: column;
        padding: 160px 0 0;
    }

    .hightlight__text__container {
        gap: 64px;
    }

    .begin__text {
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 24px;
        justify-content: flex-start;
    }

    .begin__main__text {
        flex: none;
        max-width: 280px;
        width: 100%;
    }

    .we__text__slogan {
        font-size: 28px;
    }

    .framer-text__168 {
        font-size: 80px;
    }

    .global__container {
        flex: none;
        width: 100%;
    }

    .services {
        gap: 64px;
    }

    .services__block__grid {
        grid-template-columns: repeat(1,minmax(1px,1fr));
        width: 312px;
    }

    .services__container__block {
        grid-column: unset;
        height: 480px;
    }

    .main__container {
        min-height: 100vh;
        width: auto;
    }

    .container__we {
        flex-direction: column;
        padding: 160px 0 0;
    }

    /* .services__block {
        align-content: center;
        align-items: center;
        display: flex;
        flex: none;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 4px;
        height: min-content;
        justify-content: flex-start;
        overflow: hidden;
        padding: 0;
        position: relative;
        width: 100%;
    } */

    .services__container {
        align-content: flex-start;
        align-items: flex-start;
        display: flex;
        flex: none;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0px;
        height: min-content;
        justify-content: flex-start;
        padding: 0;
        position: relative;
        width: 100%;
    }
}